# Игнорировать виртуальное
venv/

# Игнорировать кэш
__pychache__/
.idea

# Игнорировать конфигурационные файлы
config.py
.env

# Игнорировать файлы с расширением
*.jgp
*.png
*.jpeg
*.csv
*.txt

# Игнорировать файлы в названии которых есть слово "test"
*test*
*chan*
